/* Fundo da página */
body {
  background-color: #001641; /* Cor de fundo suave */
}

/* Estilo para o container principal */
.container-custom {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #ffffff; /* Fundo branco para o container */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Títulos principais */
.title-main {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  color: #333333;
}

.title-sub {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #6c757d;
}

/* Estilos para os cards */
.card-custom {
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: none;
  border-radius: 8px;
}

.card-custom:hover {
  transform: translateY(-30px);
}

.card-img {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-text-muted {
  font-size: 0.9em;
  color: #6c757d;
}

/* Badge de disponibilidade */
.badge-availability {
  font-size: 0.9em;
  padding: 0.5em 1em;
}
